* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 135deg, #020617, #1e40af, #2563eb);
    padding: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reset-card {
    width: 430px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 30px;
    margin-top: 15px;
}

.logo p {
    color: #cbd5e1;
    margin-top: 8px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #334155;
    color: white;
}

.password-box {
    position: relative;
}

.password-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.strength {
    height: 8px;
    background: #334155;
    border-radius: 20px;
    overflow: hidden;
}

#strengthBar {
    height: 100%;
    width: 0;
    transition: .3s;
}

#strengthText {
    display: block;
    margin: 10px 0;
    color: #cbd5e1;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #2563eb;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

.alert {
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.success {
    background: #16a34a;
}

.danger {
    background: #dc2626;
}

.back-login {
    text-align: center;
    margin-top: 25px;
}

.back-login a {
    color: #60a5fa;
    text-decoration: none;
}

.spinner {
    width: 18px;
    height: 18px;
    border: 3px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.toast {
    position: fixed;
    right: 20px;
    top: 20px;
    background: #16a34a;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    z-index: 999;
}

@media(max-width:500px) {
    .reset-card {
        width: 100%;
        padding: 25px;
    }
}