<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Verify OTP | AI Chatbot Pro</title>


    <link rel="stylesheet" href="{{ url_for('static',filename='css/verify_otp.css') }}">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">


</head>


<body>


    <div class="container">


        <div class="otp-card">



            <div class="logo">


                <img src="{{ url_for('static',filename='images/logo.png') }}">


                <h2>Verify OTP</h2>


                <p>Enter the OTP sent to your email</p>


            </div>






            {% with messages=get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,message in messages %}

            <div class="alert {{category}}">

                {{message}}

            </div>


            {% endfor %} {% endif %} {% endwith %}








            <form id="otpForm" method="POST" action="{{ url_for('verify_otp') }}">





                <div class="otp-box">



                    <input type="text" maxlength="1" class="otp-input" name="otp1">


                    <input type="text" maxlength="1" class="otp-input" name="otp2">


                    <input type="text" maxlength="1" class="otp-input" name="otp3">


                    <input type="text" maxlength="1" class="otp-input" name="otp4">


                    <input type="text" maxlength="1" class="otp-input" name="otp5">


                    <input type="text" maxlength="1" class="otp-input" name="otp6">



                </div>





                <div class="timer">

                    OTP expires in:

                    <span id="timer">

60

</span> seconds


                </div>





                <button type="submit" id="verifyBtn">


<i class="fa-solid fa-circle-check"></i>

Verify OTP


</button>



            </form>






            <form action="{{url_for('resend_otp')}}">

                <button type="submit" id="resendBtn" class="resend">


<i class="fa-solid fa-rotate-right"></i>

Resend OTP


</button>


            </form>







            <div class="back">


                <a href="{{url_for('forgot_password')}}">

                    <i class="fa-solid fa-arrow-left"></i> Back


                </a>


            </div>





        </div>


    </div>






    <script src="{{url_for('static',filename='js/verify_otp.js')}}"></script>


</body>


</html>